h1 {
    font-family: 'The Girl Next Door', cursive;
    display: flex;
    justify-content: center;
    font-size: 55px;
    color: white;
}

body {
    background-color: rgb(157, 207, 255);
}

#inputBar {
    display: flex;
    justify-content: center;
}

.normal {
    border-style: double;
    border-color: white;
    width: 250px;
    height: 150px;
    background-color: rgb(253, 159, 159);
    position: absolute;

}

#noteTitle {
    font-family: 'Thasadith', sans-serif;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

#editTools {
    display: flex;
    justify-content: flex-end;
}

.noteBody {
    font-family: 'Unkempt', cursive;
}

#placeTitle {
    width: 160px;
    height: 30px;
}
